@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 196 49% 43%;
    --primary-foreground: 196 49% 43%;
    --secondary: 210 80% 96.1%;
    --secondary-foreground: 196 65% 42%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 195 95% 20%;
    --accent-foreground: 196 49% 43%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 196 49% 43%;
    --border: 214.3 81.8% 93.5%;
    --input: 214.3 31.8% 88.4%;
    --ring: 196 49% 43%;
  }

  .dark {
    --background: 208 60.2% 6.44%;
    --foreground: 196 49% 43%;
    --card: 222.2 24% 5.9%;
    --card-foreground: 196 49% 92%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 196 49% 43%;
    --primary: 196 49% 43%;
    --primary-foreground: 196 49% 43%;
    --secondary: 217.2 24.6% 15.5%;
    --secondary-foreground: 196 49% 58%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 25.2% 62.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 196 49% 43%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 196 49% 43%;
    --border: 217.2 32.6% 15.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    background-image: url(/images/stars.png);
    background-position: 0 0;
    background-size: 1440px;
    @apply antialiased;
  }

  [id] {
    scroll-margin-top: 6ex;
  }

  ::selection {
    background-color: #53a2bd;
    color: #0a0a0a;
    text-shadow: none;
  }

  ::-moz-selection {
    background-color: #53a2bd;
    color: #0a0a0a;
    text-shadow: none;
  }
}

@layer utilities {
  .section {
    @apply w-full py-8 md:py-28 lg:py-40;
  }

  .container {
    @apply max-w-5xl xl:max-w-[75rem] mx-auto px-6 xl:px-0;
  }

  .article {
    @apply max-w-3xl mx-auto pt-48 pb-16 sm:pb-32;
  }

  .h1 {
    @apply text-4xl sm:text-6xl md:text-[4.35rem] md:leading-[1.15] tracking-tighter font-medium;
  }

  .h2 {
    @apply text-3xl md:text-5xl/snug font-medium;
  }

  .h3 {
    @apply text-2xl md:text-3xl font-medium;
  }

  .text {
    @apply text-muted-foreground text-base/relaxed md:text-lg/relaxed;
  }

  .link {
    @apply py-1 font-medium border-b-2 border-transparent transition-colors hover:border-primary pointer-events-auto;
  }

  .quote {
    @apply py-2 pl-4 border-l-4 border-primary/20;
  }
}
